body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.alert{
   border: 1px solid gray;
   padding: 10px;
   margin: 3px;
}

.alert-danger{
   background-color: #ff0000;
}

.alert-info{
  background-color: grey;
}

.spinner{
  color: gray;
  font-size: 50px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}




